<div class="container">
  <div class="title center-align">
    <img class="envelope" src="../../../assets/envelope.svg">
    Dear Employer,
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card-panel white z-depth-0 black-text">
        <p>
          With a proven track record of successful achievements,
          I am pleased to present my resume for your consideration.
        </p>
          <p>
            More than 8 years of experience in development, leading teams on and offshore, and customer relations.
            Solid understanding of mobile, web and UI/UX design related technologies. Highly detail-oriented,
            coupled with a passion to create elegant and intuitive user interfaces, conduct performance benchmarking and debugging,
            and solve problems using innovative solutions.
            Experience building applications from conception to production as an individual and in a team setting.
            A desire to venture into new trends like Big Data, Neural Networks, IoT and Robotics.
        </p>
          <p>
            Therefore in view of all of the above I would be highly gratified if you consider me for this important position.
        </p>
        <p>
          I am available to interview at any time, and would appreciate the opportunity.
          I hope that I am granted an opportunity to talk and perhaps meet with you and staff in the very near future.
          Hope to hear from you soon.
        </p>
        <p>
          Yours sincerely,
        </p>
        <p>
          <strong>C.R. Akers</strong><br>
          <strong>Email:</strong><a href="mailto:randallakers.work@gmail.com"> randallakers.work@gmail.com</a><br>
          <strong>GitHub Account:</strong><a href="https://github.com/randall5559" target="_blank" > https://github.com/randall5559</a>
        </p>
        <span class="right">
          <a
            target="_blank"
            href="https://firebasestorage.googleapis.com/v0/b/portfolio-de2e8.appspot.com/o/resumes-n-coverletters%2Fca-coverletter.pdf?alt=media&token=b0f89a92-df38-4fbc-bb3c-99de19b6976f">
              <i class="cloud material-icons white-text center-align">cloud_download</i>
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="center-align">
    <a href="" class="red-text text-darken-4">Take a look at the <strong><u>Port's</u></strong> code!</a>
  </div>
</div>