<port-header></port-header>
<port-portfolio></port-portfolio>
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h5 class="contact-info white-text"><i class="material-icons">email</i><span>Contact Info</span></h5>
                <p class="grey-text text-lighten-4">
                    C.R. Akers
                </p>
                <p class="grey-text text-lighten-4">
                    Senior Software Engineer &amp; Ux Designer
                </p>
                <p class="grey-text text-lighten-4">
                    <!--Have a project or idea that you need to build?<br>-->
                    <strong><a class="white-text" href="mailto:randallakers.work@gmail.com">randallakers.work@gmail.com</a></strong>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright center-align">
        <div class="container">© 2017 Copyright Port</div>
    </div>
</footer>
