.hamburger:hover {
    opacity: 100;
}

.hamburger-inner {
    width: 62%;
}

.hamburger-inner::before, .hamburger-inner::after {
    width: 100%;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after  {
    background: white;
}

@media(min-width:768px) {
    .position  {
        position: absolute;
        top: 30px;
    }

    .fixed-action-btn {
        bottom: auto;
    }
}

