<div class="container">
  <div class="title center-align">
    <i class="material-icons small red-text text-darken-4">insert_drive_file</i>
    Akers
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card-panel white z-depth-0 black-text">
        <h6 class="red-text text-darken-4"><strong>PROFILE</strong></h6>
        <p>
          Over 8 years of experience leading teams on and offshore, customer relations, UX Design, mobile and
          web development for consumer and internal applications. Solid understanding of mobile and web related
          technologies along with object-oriented design and frameworks. Experience providing technical expertise,
          problem solving, collaborating with clients and development teams, NLP, regression testing, machine learning and big data.
        </p>

        <br>

        <h6 class="red-text text-darken-4">EXPERIENCE</h6>
        <p>
          <strong>10/2016 - Present | Nex-Gen Apps, Partner &amp; Senior Software Engineer</strong><br>
          Nex-Gen is a technology company spearheading the advancement of frictionless user experiences
          for our customers through cutting edge voice &amp; text applications.<br>
          <a href="https://nex-genapps.com" target="_blank" >https://nex-genapps.com</a>
        </p>
        <p>
          <strong>09/2013 - 10/2016 Sparkway Inc., Solution Architect</strong><br>
          Sparkway Inc. is a technology company that helps clients develop strategic initiatives &amp;
          custom software solutions. Specializing in User Experience, Big Data and NLP.<br><br>
          <i>Last worked project included developing a client-facing app for beauty scheduling within metropolitan
          areas, called <a href="https://www.beautybooked.com" target="_blank">Beauty Booked</a> now apart of
          <a href="https://www.styleseat.com/" target="_blank" > Style Seat</a>. The application was build using
          Angular and Node for desktop admin users, RoR for the client app and Swift for mobile app.</i><br>
          <a href="http://sparkway.com" target="_blank" >http://sparkway.com</a>
        </p>
        <p>
          <strong>11/2012 - 9/2013 InfoStretch, Software Engineer</strong><br>
          InfoStretch provides services in design, development and QA testing for mobile apps. InfoStretch has
          been providing expert mobile solutions and services since 2004 to various enterprises to help them
          mobilize, monetize and thrive.<br><br>
          <i>Last worked project included developing a Cordova and Node application for client ISOS
          <a href="https://www.internationalsos.com/assistance-app" target="_blank" >ISOS</a>.
          This application was build for iOS, Android, Windows and BlackBerry.</i><br>
          <a href="http://infostretch.com" target="_blank" >http://infostretch.com</a>
        </p>

        <br>

        <h6 class="red-text text-darken-4">EDUCATION</h6>
        <p>
          <strong>2004-2006 | Montgomery County College, Blue Bell, PA</strong><br>
          Bachelor Accreditation (Non-Degree) Computer Science
        </p>
        <p>
          <strong>2003-2004 | Elim Institute, Lima, NY</strong><br>
          ompleted one-year program in International Culture &amp; Missions
        </p>
        <p>
          <strong>1999-2003 | Montgomery County College, Pottstown, PA</strong><br>
          Associate Degree in Computer Graphics and Fine Arts (A.A.S)
        </p>

        <br>

        <h6 class="red-text text-darken-4">TECHNICAL SKILLS</h6>
        <p>
          <strong>Languages:</strong> Typescript, Javascript, CSS, HTML, PHP, Objective-C, Swift, LUA, Java
        </p>
        <p>
          <strong>Framework:</strong> Angular 2, React, Express, Ionic, SASS, Corona, Cocos2d
        </p>
        <p>
          <strong>Libraries:</strong> Bootstrap, Highcharts, D3
        </p>
        <p>
          <strong>Software/Utilities:</strong> Git, NPM, Angular-CLI, Visual Studio Code, Xcode, Sketch, Adobe Suite
        </p>
        <p>
          <strong>Cloud Based Services:</strong> AWS, Bluemix, Firebase
        </p>
        <p>
          <strong>Operating Systems/Servers:</strong> NodeJS, Mac, iOS, Android, Linux, Unix, Apache HTTP, Apache Tomcat
        </p>

        <p class="center-align"><strong>Reference Available Upon Request</strong></p>

        <span class="right">
          <a target="_blank"
          href="https://firebasestorage.googleapis.com/v0/b/portfolio-de2e8.appspot.com/o/resumes-n-coverletters%2Fca-resume.pdf?alt=media&token=dbfdc426-b1d6-447f-a310-ff5abd467f6a">
            <i class="cloud material-icons white-text center-align">cloud_download</i>
          </a>
        </span>

      </div>
    </div>
  </div>
</div>