.title {
    font-size: 20px;
    font-weight: bold;
}

.card-panel {
    padding: 0;
}

.cloud {
    border: none;
    border-radius: 50%;
    background-color: #B71C1C;
    width: 40px;
    height: 40px;
    line-height: 1.5;
}

.small {
    font-size: 3rem;
    vertical-align: text-bottom;
    display: none;
}

@media(min-width: 768px) {
    .title {
        font-size: 40px;
        font-weight: normal;
    }

    .small {
        display: inline-block;
    }

    .card-panel {
        padding: 10px 20px;
    }
}