<div class="container">
  <div class="title center-align">
    <i class="material-icons small black-text">work</i>
    Works
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card  white">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/grid-logo.png">
        </div>
        <div class="card-content">
          <span class="card-title activator black-text">The Grid<i class="material-icons right">more_vert</i></span>
          <p class="black-text">Angular 2.0</p>
        </div>
        <div class="card-reveal white">
          <span class="card-title black-text black-border-bottom">The Grid<i class="material-icons right">close</i></span>
          <p class="black-text">The Grid is a MVP sample project that was done in Angular 2 for a client involed in the Medical field.</p>
          <p>
            <i class="material-icons black-text">label</i>
            <a class="links black-text" href="https://github.com/randall5559/the-grid" target="_blank">Github Repo</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card grey lighten-4">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/stopwatch-logo.png">
        </div>
        <div class="card-content">
          <span class="card-title activator black-text">Stop Watch<i class="material-icons right">more_vert</i></span>
          <p class="black-text">Vanilla JS</p>
        </div>
        <div class="card-reveal grey lighten-4">
          <span class="card-title black-text black-border-bottom">Stop Watch<i class="material-icons right">close</i></span>
          <p class="black-text">This was done as a skill assessment project. Had to be done pure JS and within 2 hours.</p>
          <p>
            <i class="material-icons black-text">label</i>
            <a class="links black-text" href="https://github.com/randall5559/stop-watch" target="_blank">Github Repo</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card black">
        <div class="card-image waves-effect waves-block">
          <img class="activator" src="../../../assets/challenge-logo.png">
        </div>
        <div class="card-content">
          <span class="card-title activator white-text">The Challenge<i class="material-icons right">more_vert</i></span>
          <p class="white-text">Angular 1.5</p>
        </div>
        <div class="card-reveal black">
          <span class="card-title white-text white-border-bottom">The Challenge<i class="material-icons right">close</i></span>
          <p class="white-text">Coding challenge that I did where I enhanced the challenge.</p>
          <p>
            <i class="material-icons white-text">label</i>
            <a class="links white-text" href="https://github.com/randall5559/the-challenge" target="_blank">Github Repo</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card light-blue lighten-5">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/gummy-bubbles-logo.png">
        </div>
        <div class="card-content">
          <span class="card-title activator black-text">Gummy Bubbles<i class="material-icons right">more_vert</i></span>
          <p class="black-text">Cocos2d JS</p>
        </div>
        <div class="card-reveal light-blue lighten-5">
          <span class="card-title black-text black-border-bottom">Gummy Bubbles<i class="material-icons right">close</i></span>
          <p class="black-text">
            These cute cartoonish Gummy Bubbles will leave you just wanting to pop one more.
            The rules are simple just pop the bubbles and get the gummies in the basket. Created via Cocos2d JS.
          </p>
          <p>
            <i class="material-icons black-text">label</i>
            <a class="links black-text" href="https://itunes.apple.com/us/app/gummy-bubbles/id1055551152?mt=8" target="_blank">Mobile App</a>
          </p>
          <p>
            <i class="material-icons black-text">label</i>
            <a class="links black-text" href="https://github.com/randall5559/gummyBubble" target="_blank">Github Repo</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card amber darken-3">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/page-science-logo.png">
        </div>
        <div class="card-content">
          <span class="card-title activator white-text">Page Science Insights<i class="material-icons right">more_vert</i></span>
          <p class="white-text">Angular 1.5</p>
        </div>
        <div class="card-reveal amber darken-3">
          <span class="card-title white-border-bottom white-text">Page Science Insights<i class="material-icons right">close</i></span>
          <p class="white-text">
            Advertising and Media in Health. Created PageScience Insights so clients can get a taste of the system
            and all it has to offer.
          </p>
          <p>
            <i class="material-icons white-text">label</i>
            <a class="links white-text" href="http://insights.pagescience.com/" target="_blank">Web App</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card red darken-4">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/beautybook-logo.png">
        </div>
        <div class="card-content">
          <span class="card-title activator white-text">Beauty Book<i class="material-icons right">more_vert</i></span>
          <p class="white-text">React &amp; PHP</p>
        </div>
        <div class="card-reveal red darken-4">
          <span class="card-title white-border-bottom white-text">Beauty Book/ StyleSeat<i class="material-icons right">close</i></span>
          <p class="white-text">Worked on Beauty Book during it's infant stage why at Sparkway Inc. We build
            Beauty Booked initial MVP design for 24/7 access to Top Salons and Spas. I helped Beauty Book kick it off to join forces with StyleSeat</p>
          <p>
            <i class="material-icons white-text">label</i>
            <a class="links white-text" href="https://www.styleseat.com/" target="_blank">Web App</a>
          </p>
          <p>
            <i class="material-icons white-text">label</i>
            <a class="links white-text" href="https://itunes.apple.com/us/app/styleseat-hair-nails-massage/id414313281" target="_blank">Mobile App</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card  indigo darken-4">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/isos-logo.png">
        </div>
        <div class="card-content">
          <span class="card-title activator white-text">ISOS<i class="material-icons right">more_vert</i></span>
          <p class="white-text">Cordova, Objective-C &amp; Node</p>
        </div>
        <div class="card-reveal  indigo darken-4">
          <span class="card-title white-text white-border-bottom">ISOS<i class="material-icons right">close</i></span>
          <p class="white-text">Up-to-date travel security analysis and medical information. Create hybrid version 2.0.</p>
          <p>
            <i class="material-icons white-text">label</i>
            <a class="links white-text" href="https://www.internationalsos.com/assistance-app" target="_blank">Mobile Apps</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card  grey darken-1">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/phenom-logo.png">
        </div>
        <div class="card-content">
          <span class="card-title activator white-text">Phenom<i class="material-icons right">more_vert</i></span>
          <p class="white-text">Objective-C</p>
        </div>
        <div class="card-reveal  grey darken-1">
          <span class="card-title white-text white-border-bottom">Phenom<i class="material-icons right">close</i></span>
          <p class="white-text">Mobile app for athletes. Created initial MVP. Mockups and wires in Photoshop and Illustrator. Coded in Xcode.</p>
          <p>
            <i class="material-icons white-text">label</i>
            <a class="links white-text" href="https://itunes.apple.com/us/app/phenom/id687226814" target="_blank">Mobile App</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>