<div class="container">
  <div class="title center-align">
    <i class="material-icons small">more_horiz</i>
    More
  </div>
  <div class="row">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">view_quilt</i>UI/UX designs</div>
        <div class="collapsible-body">
          <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-de2e8.appspot.com/o/resqueue.pdf?alt=media&token=680b2f57-a8b9-4909-96c1-67d6aefcf94b"
           target="_blank" >
          Resqueue Mock</a>
          <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-de2e8.appspot.com/o/pagescience-insights-mock.pdf?alt=media&token=c7429c3b-471b-4bf7-85e6-59cefbaa805c"
           target="_blank">
          Page Science Mock</a><br>
          <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-de2e8.appspot.com/o/autoapp.pdf?alt=media&token=8023b7b7-570e-4b22-b02d-d04e4fcb7182"
           target="_blank">
          Auto App Mock</a><br>
          <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-de2e8.appspot.com/o/njddd-sample-mock.pdf?alt=media&token=eb14ed73-60a0-4c19-9155-3d2c301a475c"
           target="_blank">
          Rugters NJDDD Sample Mock</a><br>
          <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-de2e8.appspot.com/o/bewell-sample-mock.pdf?alt=media&token=1bc65f66-a494-441d-b297-b5758276efd6"
          target="_blank">
          Bewell Sample Mock</a><br>
          <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-de2e8.appspot.com/o/sparkway-mock.pdf?alt=media&token=90d04bdc-4d41-410f-8292-7dcb7b97f96b"
           target="_blank">
          Sparkway Mock</a>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">grid_on</i>Wires</div>
        <div class="collapsible-body">
          <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-de2e8.appspot.com/o/phenom-mobile-wires.pdf?alt=media&token=12b331e9-6996-46d2-8523-0c86a7f41e16" target="_blank">Phenom wires</a><br>
          <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-de2e8.appspot.com/o/resqueue-wires-1.0.pdf?alt=media&token=2f83b293-4691-48dc-8829-d1b5e341f9e1" target="_blank">Resqueue wires</a>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">wallpaper</i>Sketches &amp; Illustrations</div>
        <div class="collapsible-body">
          <a href="../../../assets/illustrations.pdf" target="_blank">Illustrator Drawings</a><br>
          <a href="../../../assets/sketches.pdf" target="_blank">Hobby Sketches</a>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">check_circle</i>Recommendations</div>
        <div class="collapsible-body">
          <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-de2e8.appspot.com/o/recommendations%2Fsparkway-recommendation.pdf?alt=media&token=2499fb33-17c5-491b-a2fe-fd59c3502c86" target="_blank">Sparkway Inc.</a><br>
          <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-de2e8.appspot.com/o/recommendations%2Fcore-team-newsletter.pdf?alt=media&token=0c37a2f7-d7c9-4ba8-9914-6685ada79955" target="_blank">Core Team Newsletter</a><br>
          <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-de2e8.appspot.com/o/recommendations%2Fsfca-recommendation.pdf?alt=media&token=35eead83-ef83-4694-b5b1-d8bf0e540e48" target="_blank">SFCA</a><br>
          <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-de2e8.appspot.com/o/recommendations%2Fesl-recommendation.pdf?alt=media&token=e0689800-4ad5-48e8-a67d-5f6f04ef6021" target="_blank">ESL</a><br>
        </div>
      </li>
    </ul>
  </div>
</div>